{% include 'navbar.html' %}
<br>
<div class="container-fluid">
  <h3>Basic Application Information</h3>
  <p>This App will help user to  get real-time alue of stocks (which ever they want) and store in data.</p>
  <p>Create_API_Key : This will create password like key to get values</p>
  <p>Add-Stock : This will add stock in list</p>
  <p>Symbol-Search : This will give top 10  matching stock name and symbol </p>
  <p>Price : This will give latest prices of all the stock</p>
  <p>Delete-Stock : This will delete stock from the list</p>
</div>

</body>
</html>


